.container{
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: none;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  max-width: 400px;
  margin: 40px auto;
}
.heading{
  text-align: center;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}
.paragraph{
  text-align: left;
}